.container {

}

.title {
    font-size: 64px;
    margin-bottom: 104px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    gap: 104px;
}

.imgContainer{
    flex: 1;
    height: 496px;
    width: 496px;
    position: relative;
}

.img {
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-15px);
    }
    from {
        transform: translateY(0px) scale(1.03);
    }
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input, .textarea {
    padding: 16px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 2px solid #bbb;
    font-size: 18px;
    font-weight: bold;
}